* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
}

.bio {
  background-color: aquamarine;
}

.portrait-container {
  position: relative;
  display: grid;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  justify-self: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.projects {
  background-color: palegoldenrod;
  text-align: center;
  padding-top: 2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: minmax(300px, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.contact {
  background-color: coral;
}

.project-card {
  background-color: palevioletred;
  height: 300px;
}

@media (min-width: 320px) {
  .dev-portrait {
    width: 225px;
  }
}

@media (min-width: 375px) {
}

@media (min-wdith: 425px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 250px);
  }
}
