* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
}

.bio {
  background-color: aquamarine;
}

.projects {
  background-color: palegoldenrod;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: minmax(300px, 1fr);
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
}

.contact {
  background-color: coral;
}

.project-card {
  background-color: palevioletred;
  height: 300px;
}

@media (min-width: 320px) {
}

@media (min-width: 375px) {
}

@media (min-wdith: 425px) {
}

@media (min-width: 768px) {
}
